// Dashboard Associated components Style rule

.rounded_demo {
  height: 50px;
  justify-self: center;
  width: 50px;
  border-radius: 50%;
  background-color: #6d6d6d;
}

.flex_box {
  display: flex;
}
// Drown is used to hide components

.drown {
  display: none;
}

.small_avater {
  border-radius: 50%;
  width: 70px;
  height: auto;
}

.j_center {
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  text-align: center;
}

.s_container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
}

.appoinment {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 25px 0;
  margin: 10px auto;
  .month,
  .quantity,
  .day_left {
    font-size: 15px;
    color: #6d6d6d;
  }
  .date {
    display: grid;
    justify-items: center;
  }
}

.badge {
  padding: 10px 10px !important;
  .badge_name {
    font-size: 15px;
    padding-top: 5px !important;
    text-align: center !important;
    color: #6d6d6d !important;
  }
}

.hospital_dBox {
  box-shadow: 0 0 5px 2px #c0c0c0;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 10px 30px 30px;
  max-width: 300px;
  height: fit-content;
  margin: 10px;
  .top_icoBox {
    text-align: right !important;
    display: flex;
    justify-content: space-between !important;
  }
  .vertico {
    color: #c70100;
    font-size: 30px !important;
    text-align: right !important;
  }
  .details_container {
    display: flex;
    align-items: center;
    .sign {
      padding: 17px;
      color: #c70100;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 5px 2px #c0c0c0;
    }
    .h_address {
      padding-left: 20px;
      h6 {
        color: #6d6d6d;
        font-size: 13px !important;
        .icons {
          font-size: 13px !important;
        }
      }
    }
  }
}

.history_box {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 2px solid #6d6d6d;
  margin: 20px auto;
  .serial {
    background-color: #c70100;
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-weight: 900 !important;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  h4,
  .times {
    color: #6d6d6d;
  }
}

.review_box {
  margin: 10px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #c0c0c0;
  background-color: #fff;
  max-width: 550px;
  .name_time {
    padding-left: 20px;
    h3 {
      color: #343434;
    }
    h5 {
      color: #6d6d6d;
    }
  }
  .review {
    color: #6d6d6d;
    padding: 10px 0;
  }
  .like_reply {
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    color: #c70100;
    .icons {
      font-size: 14px;
      margin: 0 10px;
    }
  }
}

.notificationBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #c0c0c0;
  background-color: #fff;
  .bloodGroup {
    padding: 17px;
    color: #c70100;
    font-weight: 900 !important;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px #c0c0c0;
  }
  .notificationDetaile {
    max-width: 150px !important;
    P {
      color: #6d6d6d;
      span {
        font-size: 16px;
        font-weight: 700px !important;
        color: #000;
      }
    }
  }
  .timeAgo {
    font-size: 13px;
    color: #6d6d6d;
  }
}

// Dashboard style rule

div {
  &.dashboard {
    nav {
      grid-column-start: 1;
      grid-column-end: 2;
      height: 100vh;
      width: 20vw;
      position: fixed;
      background-color: #fff;
      padding: 30px 0 20px 0;
      img {
        justify-self: center;
        width: 60%;
        &.poster {
          margin-top: 40px;
          width: 80% !important;
        }
      }
      a {
        margin: 0 30px;
        padding: 10px 20px;
        display: inline-flex !important;
        align-items: center;
        text-align: center;
        font-size: 17px;
        text-decoration: none;
        color: #343434;
        &.active {
          color: #c70100;
          background-color: #f6f7f9;
          border-right: solid 8px #c70100;
        }
        .dashboardico {
          font-size: 30px;
          margin-right: 10px;
        }
      }
    }
    section {
      &.dashboard {
        grid-column-start: 2;
        grid-column-end: 6;
        background-color: #f6f7f9;
        min-height: 100vh;
        header {
          grid-row-start: 1;
          grid-column-start: 1;
          grid-column-end: 5;
          padding: 40px 40px 20px 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: sticky;
          top: 0px;
          background-color: #f6f7f9;
          z-index: 15;
          .left_col {
            display: flex;
            h3 {
              padding-right: 20px;
            }
            h6 {
              padding-right: 20px;
            }
            .toggleico {
              font-size: 30px;
              margin: 0 5px;
              color: #c70100;
            }
            a {
              display: flex;
              text-decoration: none;
              align-content: center;
              h3 {
                color: #000;
              }
            }
          }
          .right_col {
            display: flex;
            align-items: center;
            text-align: right;
            img {
              margin-left: 20px;
              width: 70px;
              height: auto;
            }
            .vertico {
              color: #c70100;
              font-size: 40px !important;
            }
          }
        }
        // Home Style rules
        section {
          &.rowii_coli {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              justify-self: center;
              width: 30%;
              height: auto;
              padding: 0 20px;
            }
            .arrowico {
              background-color: #c70100;
              color: #fff;
              font-size: 50px;
              border-radius: 50%;
              padding: 10px 6px 10px 14px;
              margin-right: -40px;
              z-index: 10;
              &.l {
                margin-left: -40px !important;
              }
            }
          }
          &.rowiii_coli {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            padding: 30px 0 0 20px;
          }
          &.rowv_coli {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 7;
            padding: 30px 0 0 20px;
            img {
              height: auto;
              width: 25vw;
              padding: 20px 10px 20px 0;
              justify-self: center;
            }
          }
          &.map_container {
            align-items: center;
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 7;
            h3 {
              padding: 20px 100px 0 30px;
              display: block !important;
              text-align: left;
            }
            img {
              margin-top: 10px;
              justify-self: center;
              width: 50vw;
              border-radius: 50px;
            }
          }
        }
        &.twelvehead {
          header {
            position: sticky;
            top: 0px;
            background-color: #f6f7f9;
            height: max-content;
            grid-column-start: 1;
            grid-column-end: 13;
          }
        }
        // Profile Style rules
        &.profile_container {
          section {
            &.profile {
              grid-row-start: 2;
              grid-row-end: 7;
              grid-column-start: 1;
              grid-column-end: 6;
              margin-bottom: 20px;
              .profile_box {
                box-shadow: 0 0 5px 2px #c0c0c0;
                justify-self: center;
                background-color: #fff;
                border-radius: 30px;
                width: 85%;
                padding: 15px;
                img {
                  border-radius: 10px;
                  width: 100%;
                  height: auto;
                }
                .title_container {
                  color: #fff;
                  margin-top: -90px;
                  margin-left: 20px;
                }
                .details_container {
                  margin-top: 60px;
                  padding-left: 15px;
                  .info {
                    padding: 10px 0;
                    h4 {
                      padding: 10px 0;
                    }
                    P {
                      color: #6d6d6d;
                    }
                  }
                  .badgeContainer {
                    padding: 10px 0 !important;
                    span {
                      color: #6d6d6d;
                    }
                  }
                  .progress_bar {
                    color: #6d6d6d;
                    margin: 30px auto;
                    height: 13px;
                    background-color: #9e9e9e;
                    border-radius: 10px;
                    .progress {
                      height: 100%;
                      width: 80%;
                      border-radius: 10px;
                      background-color: #c70100;
                    }
                    p {
                      padding: 10px 0;
                    }
                    span {
                      color: #c70100;
                    }
                  }
                }
              }
            }
            &.Status {
              grid-row-start: 2;
              grid-row-end: 5;
              grid-column-start: 6;
              grid-column-end: 13;
              padding: 20px 30px;
              background-color: #fff;
              margin: 0 60px 20px 10px;
              border-radius: 30px;
              box-shadow: 0 0 5px 2px #c0c0c0;
              .nav {
                .nav_item {
                  cursor: pointer;
                  color: #000;
                  padding: 5px;
                  margin: auto 10px;
                  &.active {
                    display: inline;
                    color: #c70100;
                    border-bottom: 2px solid #c70100;
                  }
                }
              }
              #donation,
              #request {
                align-items: center;
                margin: 10px 0;
                a {
                  color: #000;
                }
              }
            }
            &.badges {
              grid-row-start: 5;
              grid-row-end: 7;
              grid-column-start: 6;
              grid-column-end: 13;
              padding: 20px 50px;
              background-color: #fff;
              margin: 0 60px 20px 10px;
              border-radius: 30px;
              box-shadow: 0 0 5px 2px #c0c0c0;
            }
          }
        }
        // Donations style rule
        &.doantion_container {
          .hospitalDescription {
            grid-column-start: 1;
            grid-column-end: 13;
            padding: 0 20px 0 50px;
            display: flex;
            flex-wrap: wrap;
          }
          .donation_history {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 3;
            grid-row-end: 6;
            padding: 20px 20px 20px 50px;
            .history_container {
              box-shadow: 0 0 5px 2px #c0c0c0;
              background-color: #fff;
              border-radius: 20px;
              padding: 30px;
              margin-top: 20px;
            }
            .histories {
              padding-top: 20px;
            }
          }
          .donation_review {
            grid-column-start: 7;
            grid-column-end: 13;
            grid-row-start: 3;
            grid-row-end: 6;
            padding: 20px 20px 20px 20px;
            h2 {
              padding-bottom: 10px !important;
            }
          }
        }
        // Notification style rules
        &.notification_container {
          .notifications {
            grid-column-start: 2;
            grid-column-end: 6;
            padding: 0 10px 10px 10px;
            height: 85vh;
            overflow-y: scroll;
            overflow-x: hidden;
            --scrollbarBG: #f6f7f9;
            --thumbBG: #6d6d6d;
            &::-webkit-scrollbar {
              width: 12px;
            }
            &::-webkit-scrollbar-track {
              background: var(--scrollbarBG);
            }
            &::-webkit-scrollbar-thumb {
              background-color: var(--thumbBG);
              border-radius: 10px;
              padding: 5px;
              border: 3px solid var(--scrollbarBG);
            }
          }
          .History {
            grid-column-start: 6;
            grid-column-end: 10;
            border-left: 2px solid #dfdfdf;
            padding: 0 10px 10px 10px;
            height: 85vh;
            overflow-y: scroll;
            overflow-x: hidden;
            --scrollbarBG: #f6f7f9;
            --thumbBG: #6d6d6d;
            &::-webkit-scrollbar {
              width: 12px;
            }
            &::-webkit-scrollbar-track {
              background: var(--scrollbarBG);
            }
            &::-webkit-scrollbar-thumb {
              background-color: var(--thumbBG);
              border-radius: 10px;
              padding: 5px;
              border: 3px solid var(--scrollbarBG);
            }
          }
        }
      }
    }
  }
}
