.t_center {
  text-align: center;
}
div {
  &.signup {
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      padding-bottom: 80px;
    }
    section {
      align-items: center;
      justify-content: center;
      display: grid;
      //in this section the left hand side's logo with text beneath style rule are defined
      &.section_i {
        align-items: center;
        img {
          justify-self: center;
          align-self: center;
          width: auto;
          height: 180px;
        }
        h1 {
          max-width: 400px;
          text-align: center;
          font-weight: 300 !important;
          font-size: 18px;
          color: #343434;
          @media (max-width: 768px) {
            max-width: 80%;
            margin: auto;
          }
        }
      }
      &.section_ii {
        // common styles are defined here
        form {
          display: grid;
          justify-items: center;
          h1 {
            padding-bottom: 20px;
            max-width: 300px;
            font-size: 25px;
            font-family: "Roboto", sans-serif;
            text-align: center;
            @media (max-width: 768px) {
              padding-top: 30px;
            }
          }
          label {
            color: #949494;
            font-size: 14px;
            .visibility_icon {
              position: absolute;
              margin-top: 36px;
              margin-left: -45px;
            }
          }
          input {
            margin: 20px auto;
            width: 300px;
            color: #949494;
            font-size: 14px;
            padding: 20px 30px;
            background-color: #edf0f5;
            border: none;
            border-radius: 35px;
          }
          // sign up iii style rule defined
          .radios {
            margin: 20px auto;
            justify-items: center;
            grid-gap: 10px;
            div {
              &.select {
                color: #c70100;
                border: solid 1px #c70100;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                font-size: 14px !important;
                align-items: center;
                justify-content: center;
                &.red {
                  color: #fff;
                  background-color: #c70100;
                }
                input {
                  position: absolute;
                  margin: 0;
                  padding: 0;
                  width: 50px;
                  height: 50px;
                  outline: none;
                  opacity: 0 !important;
                  cursor: pointer;
                }
              }
            }
          }
          // sign up iv & v style rule defined

          .weights,
          .genders {
            padding: 30px 0;
            display: flex;
            .weight,
            .gender {
              position: relative;
              margin: auto 20px;
              display: grid;
              background-color: #f6f7f9;
              justify-content: center;
              padding: 20px;
              border-radius: 20px;
              box-shadow: 0 0 5px #f6f6f6;
              overflow: hidden;
              .top_arrow {
                background-color: #c70100 !important;
                padding: 5px;
                position: absolute;
                color: #edf0f5;
                font-size: 30px !important;
                border-radius: 50%;
                margin-top: 2px;
                margin-left: 2px;
              }
              img {
                width: 70px;
                border-radius: 50%;
              }
              p {
                padding: 30px 0 0 0;
                text-align: center;
                font-size: 14px;
                color: #343434;
                font-weight: 500;
              }
              input {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
              }
            }
          }
          // sign up f style rule defined

          .file_upload {
            display: grid;
            place-items: center;
            height: 180px;
            width: 180px;
            box-shadow: 0 0 5px #f6f6f6;
            background-color: #f6f7f9;
            border-radius: 50%;
            input {
              position: absolute;
              margin: 0;
              padding: 0;
              width: 180px;
              height: 180px;
              outline: none;
              opacity: 0 !important;
              cursor: pointer;
            }
            .drag-text {
              padding: 0 20%;
              display: grid;
              place-items: center;
              text-align: center !important;
              .upico {
                justify-self: center !important;
                font-size: 40px !important;
                color: #c70100;
              }
              h3 {
                font-size: 12px;
                font-weight: 900 !important;
              }
            }
          }
          &.page-7 {
            input {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
